<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">


<body>
    <section class="vh-100" style="background-color: #242333;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem; border: 5px solid  #CF0A0A  ; background-color:#242333;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="/images/seats.jpeg"
                      alt="Seat image" class="img-fluid" style="border-radius: 1rem 0 0 1rem; width:100%; height:100%;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5">
      
                      <form>
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <span class="h1 fw-bold mb-0" style="color: #fff;">MSB - Group 3</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color:#fff;">Login</h5>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example17" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example17" style="color:#fff ;">Email address</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example27" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example27" style="color: #fff;">Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-lg btn-block" style="background-color:#CF0A0A ; color:#fff;" type="button">Login</button>
                        </div>
      
                        <a class="small text-muted" href="#!" style="color:#fff ;">Forgot password?</a>
                        <p class="mb-5 pb-lg-2" style="color: #cf0a0a;">Don't have an account? <a href="#!"
                            style="color: #cf0a0a;">Register here</a></p>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>






